node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
routeTree.gen.ts

.dev.vars*
!.dev.vars.example
!.env.example

.playwright-mcp

coverage/